{% macro footer() %}
<footer class="footer text-muted">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 order-last order-lg-first">
				<ul class="list-inline">
					<li class="list-inline-item">{{ config.extra.footer.info | default(value="Powered by AdiDoks") | safe }}</li>
				</ul>
			</div>
			<div class="col-lg-8 order-first order-lg-last text-lg-end">
				<ul class="list-inline">
					{% if config.extra.footer.nav %}
						{% for val in config.extra.footer.nav %}
							<li class="list-inline-item"><a href="{{ val.url }}">{{ val.name }}</a></li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</footer>
{% endmacro %}
