<!-- FIXME: for some reason, config.default_language error with recent zola -->
{% macro javascript() %}
<script src="{{ get_url(path="js/main.js") | safe }}" defer></script>
{% if config.build_search_index %}
  <script src="{{ get_url(path="plugins/elasticlunr.min.js") | safe }}" defer></script>
  <script src="{{ get_url(path="search_index.en.js") | safe }}" defer></script>
  <script src="{{ get_url(path="js/search.js") | safe }}" defer></script>
{% endif %}
{% endmacro %}
